* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: 1fr;
}

h3 {
  margin-right: 5rem;
  margin-left: 2rem;
}

header {
  background-color: rgb(109, 35, 68);
  color: white;
  display: flex;
  align-items: center;
}

p {
  display: none;
}
grid-container {
  display: grid;

  
}

aside {
  display: flex;
  align-items: center;
  flex-direction: column;
}

aside h3 {
  margin-left: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100vh;
  border: solid 1px;
  margin: 5px;
  padding: 5px;
  text-align: center;
}
.card-body {
  flex-grow: 1;
}

.card-footer {
  font-weight: 900;
  background-color: rgb(109, 35, 68);
  color: white;
}

.card-header {
  font-weight: 700;
}

footer {
  grid-area: footer;
  background-color: rgb(109, 35, 68);
  text-align: center;
  color: white;
  font-size: 1rem;
}
@media (min-width: 576px) {
 .grid-container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100vh;
  }

  .grid-item {
    width: 25%
  }
  p {
    display: flex;
    margin: 1rem;
  }
header {
    display: flex; 
    flex-direction: column;
}
 .grid-container{ 
    display: grid;
    grid-template-areas:
 }
}